dropin.cache
*.log
*.pyc
dist/
build/
MANIFEST
*.egg-info/
*.egg
*.swp
*.swo
*.pyc
*.log
*.*~
*.csv
.cache
.tox
.eggs
_trial_temp
.DS_Store
scripts/profiling/sync/profiles

testing/htmlcov
testing/.coverage
