Source: soledad
Section: python
Priority: optional
Maintainer: Micah Anderson <micah@debian.org>
Uploaders: LEAP automated build <sysdev@leap.se>
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), python-wheel, debhelper (>= 9), dh-python
Standards-Version: 3.9.8

Package: soledad-server
Architecture: all
Provides: leap.soledad.server, ${python:Provides}
Depends: ${misc:Depends}, ${python:Depends}, lsb-base (>= 3.0-6), python-configparser, python-couchdb,
 python-simplejson, python-oauth, python-routes, python-six, python-twisted-web (>= 13.0.0-1~bpo70+1),
 sudo
Description: Synchronization of locally encrypted data among devices (server files)
 Soledad is the part of LEAP that allows application data to be securely
 shared among devices. It provides, to other parts of the LEAP client, an
 API for data storage and sync.
 .
 This package contains the server components.

Package: soledad-common
Architecture: all
Provides: leap.soledad.common, ${python:Provides}
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson, python-six, python-twisted-core (>= 13.0.0)
Description: Synchronization of locally encrypted data among devices (common files)
 Soledad is the part of LEAP that allows application data to be securely
 shared among devices. It provides, to other parts of the LEAP client, an
 API for data storage and sync.
 .
 This package contains the common soledad libraries. For the server, see the
 soledad-server package

Package: soledad-client
Architecture: all
Provides: leap.soledad.client, ${python:Provides}
Depends: ${misc:Depends}, ${python:Depends}, python-sqlcipher (>= 2.6.3.3+b1),
 python-simplejson, python-scrypt,
 python-dirspec, python-chardet,
Description: Synchronization of locally encrypted data among devices (client files)
 Soledad is the part of LEAP that allows application data to be securely
 shared among devices. It provides, to other parts of the LEAP client, an
 API for data storage and sync.
 .
 This package contains the soledad client.
