Source: soledad
Section: python
Priority: optional
Maintainer: Micah Anderson <micah@debian.org>
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9),
  dh-python, dh-systemd (>= 1.5)
Standards-Version: 3.9.6

Package: soledad-server
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-configparser, python-couchdb,
 python-simplejson, python-oauth, python-u1db, python-routes, python-openssl,
 soledad-common (>= 0.9.0), python-six, python-twisted-web (>= 16.2.0-1~bpo8+1),
 sudo, python-beaker
Description: Synchronization of locally encrypted data among devices (server files)
 Soledad is the part of LEAP that allows application data to be securely
 shared among devices. It provides, to other parts of the LEAP client, an
 API for data storage and sync.
 .
 This package contains the server components.

Package: soledad-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson, python-oauth, python-u1db,
 python-six
Description: Synchronization of locally encrypted data among devices (common files)
 Soledad is the part of LEAP that allows application data to be securely
 shared among devices. It provides, to other parts of the LEAP client, an
 API for data storage and sync.
 .
 This package contains the common soledad libraries. For the server, see the
 soledad-server package

Package: soledad-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-sqlcipher (>= 2.6.3.3+b1),
 python-simplejson, python-oauth, python-u1db, python-scrypt,
 python-dirspec, soledad-common (>= 0.9.0), python-chardet,
 python-twisted-core (>= 13.0.0)
Description: Synchronization of locally encrypted data among devices (client files)
 Soledad is the part of LEAP that allows application data to be securely
 shared among devices. It provides, to other parts of the LEAP client, an
 API for data storage and sync.
 .
 This package contains the soledad client.
