Source: soledad
Section: python
Priority: optional
Maintainer: Micah Anderson <micah@debian.org>
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.4

Package: soledad-server
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-configparser, python-couchdb, 
 python-simplejson, python-oauth, python-u1db, python-routes, python-openssl, 
 soledad-common (>= 0.3.0-1), 
 python-six, python-twisted (>= 13.0.0-1~bpo70+1), python-twisted-bin (>= 13.0.0-1~bpo70+1), 
 python-twisted-conch (>= 1:13.0.0-1~bpo70+1), python-twisted-core (>= 13.0.0-1~bpo70+1), 
 python-twisted-lore (>= 13.0.0-1~bpo70+1), python-twisted-mail (>= 13.0.0-1~bpo70+1), 
 python-twisted-names (>= 13.0.0-1~bpo70+1), python-twisted-news (>= 13.0.0-1~bpo70+1), 
 python-twisted-runner (>= 13.0.0-1~bpo70+1), python-twisted-words (>= 13.0.0-1~bpo70+1), 
 python-twisted-web (>= 13.0.0-1~bpo70+1)
Description: Synchronization of locally encrypted data among devices.
 Soledad is the part of LEAP that allows application data to be securely 
 shared among devices. It provides, to other parts of the LEAP client, an 
 API for data storage and sync.
 . 
 This package contains the server components.

Package: soledad-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson, python-oauth, python-u1db, 
 python-six
Description: Synchronization of locally encrypted data among devices.
 Soledad is the part of LEAP that allows application data to be securely 
 shared among devices. It provides, to other parts of the LEAP client, an 
 API for data storage and sync.
 . 
 This package contains the common soledad libraries. For the server, see the
 soledad-server package

Package: soledad-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-sqlcipher, python-pysqlite1.1, 
 python-simplejson, python-oauth, python-u1db, python-scrypt, 
 python-dirspec, python-pycryptopp, soledad-common,
 python-chardet
Description: Synchronization of locally encrypted data among devices.
 Soledad is the part of LEAP that allows application data to be securely 
 shared among devices. It provides, to other parts of the LEAP client, an 
 API for data storage and sync.
 . 
 This package contains the soledad client.
