#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_clean:
	cd client && python setup.py clean -a 
	cd common && python setup.py clean -a 
	cd server && python setup.py clean -a 

override_dh_auto_install: 
	cd client && python setup.py install --root=../debian/soledad-client
	cd common && python setup.py install --root=../debian/soledad-common
	cd server && LEAP_SKIP_INIT=1 python setup.py install --root=../debian/soledad-server



